.prizes{
    padding-top: 66px;
    &__title{
        text-align: center;
        @include before_circle;
        position: relative;
        &:before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper{
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        
       
    }
    &__item{
        width: 338px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    &__text{
        display: flex;
        justify-content: space-between;
       
    }
    &__item-title{
        position: relative;
        @include before_circle;
        &:before{
            width: 15px;
            height: 15px;
            left: -25px;
            top: 3px;
        }
    }
    &__descr{
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
    }
    
    
}