.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    margin-left: 50px;
    margin-top: 200px;
    &__line{
      width: 2px;
      height: 100px;
      background-color: #000;
      margin-left: 9px;
      margin-top: 10px;
    }
    &__social{
        transform: rotate(-90deg);
        margin-top: 65px;
        margin-left: -62px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__link{
        margin-top: 10px;
    }
}